# Imports

In [1]:
# Import packages
import json, os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
pd.set_option('display.max_columns',50)

In [2]:
with open('/Users/17175/.secret/mysql.json')as f:
    login=json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/Movies"
engine = create_engine(connection)

In [4]:
basics = pd.read_csv('Data/Filtered_Title_Basics')
basics.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

# Normalizing Genres

## Getting a list of unique genres

In [5]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head(1)

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"

In [6]:
#explode genres to split each into a new row
## create a col with a list of genres
exploded_genres = basics.explode('genres_split')
exploded_genres.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama

In [7]:
#use .unique to get the unique genres and make a list
unique_genres = sorted(exploded_genres['genres_split'].unique())

## Create a genre mapper dictionary to replace string genres with integers

In [8]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

## Replace the string genres in title_genres with the new integer ids

In [9]:
## make new integer genre_id and drop string genres
exploded_genres['genre_id'] = exploded_genres['genres_split'].map(genre_map)
exploded_genres = exploded_genres.drop(columns='genres_split')

In [10]:
exploded_genres.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",5
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",9
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",18
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,7
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,7

## Create a new title_genres table

In [11]:
#save just tconst and genres_split as new df
title_genres = exploded_genres[['tconst','genre_id']].copy()
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

## add the new table to mysql

In [12]:
title_genres.to_sql("title_genres",engine,index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0035423-5' for key 'title_genres.PRIMARY'")
[SQL: INSERT INTO title_genres (tconst, genre_id) VALUES (%(tconst)s, %(genre_id)s)]
[parameters: ({'tconst': 'tt0035423', 'genre_id': 5}, {'tconst': 'tt0035423', 'genre_id': 9}, {'tconst': 'tt0035423', 'genre_id': 18}, {'tconst': 'tt0062336', 'genre_id': 7}, {'tconst': 'tt0069049', 'genre_id': 7}, {'tconst': 'tt0088751', 'genre_id': 5}, {'tconst': 'tt0088751', 'genre_id': 12}, {'tconst': 'tt0088751', 'genre_id': 19}  ... displaying 10 of 162600 total bound parameter sets ...  {'tconst': 'tt9916362', 'genre_id': 7}, {'tconst': 'tt9916362', 'genre_id': 11})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [13]:
q='''DESCRIBE title_genres'''
pd.read_sql(q,engine)

      Field         Type Null  Key Default Extra
0    tconst  varchar(55)   NO  PRI    None
1  genre_id          int   NO  PRI    None

In [14]:
q='''SELECT *
    FROM title_genres
    LIMIT 5'''
pd.read_sql(q,engine)

      tconst  genre_id
0  tt0035423         5
1  tt0035423         9
2  tt0035423        18
3  tt0062336         7
4  tt0069049         7

## Convert the genre map dictionary into a dataframe

In [15]:
# manually ,ake dataframe with named cols from the .keys and .values
genre_lookup = pd.DataFrame({'genre_id':genre_map.values(),
                             'genre_name':genre_map.keys()})
genre_lookup.head()

   genre_id genre_name
0         0     Action
1         1      Adult
2         2  Adventure
3         3  Animation
4         4  Biography

## add the new table to mysql

In [16]:
genre_lookup.to_sql("genres",engine,index=False,if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'genres.PRIMARY'")
[SQL: INSERT INTO genres (genre_id, genre_name) VALUES (%(genre_id)s, %(genre_name)s)]
[parameters: ({'genre_id': 0, 'genre_name': 'Action'}, {'genre_id': 1, 'genre_name': 'Adult'}, {'genre_id': 2, 'genre_name': 'Adventure'}, {'genre_id': 3, 'genre_name': 'Animation'}, {'genre_id': 4, 'genre_name': 'Biography'}, {'genre_id': 5, 'genre_name': 'Comedy'}, {'genre_id': 6, 'genre_name': 'Crime'}, {'genre_id': 7, 'genre_name': 'Drama'}  ... displaying 10 of 25 total bound parameter sets ...  {'genre_id': 23, 'genre_name': 'War'}, {'genre_id': 24, 'genre_name': 'Western'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [17]:
q='''DESCRIBE genres'''
pd.read_sql(q,engine)

        Field         Type Null  Key Default Extra
0    genre_id          int   NO  PRI    None
1  genre_name  varchar(55)  YES         None

In [18]:
q='''SELECT *
    FROM genres
    LIMIT 5'''
pd.read_sql(q,engine)

   genre_id genre_name
0         0     Action
1         1      Adult
2         2  Adventure
3         3  Animation
4         4  Biography

# Creating MySQL tables with a primary key using python

## Preprocess tmdb to create a tmdb_data table

In [29]:
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')

In [30]:
#drop unnecessary columns
tmdb = tmdb.drop(['adult', 'backdrop_path', 'belongs_to_collection', 'genres', 'homepage', 'id', 
                  'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 
                  'production_countries', 'production_companies', 'release_date', 'runtime', 'spoken_languages', 'status',
                  'tagline', 'title', 'video', 'vote_average', 'vote_count'], axis=1)
tmdb.head()

     imdb_id      budget     revenue certification\r
0          0         NaN         NaN              \r
1  tt0113026  10000000.0         0.0              \r
2  tt0113092         0.0         0.0              \r
3  tt0116391         0.0         0.0              \r
4  tt0118694    150000.0  14204632.0            PG\r

In [31]:
#change the name of certification
tmdb.rename(columns={'certification\r':'certification'}, inplace=True)
tmdb.head()

     imdb_id      budget     revenue certification
0          0         NaN         NaN            \r
1  tt0113026  10000000.0         0.0            \r
2  tt0113092         0.0         0.0            \r
3  tt0116391         0.0         0.0            \r
4  tt0118694    150000.0  14204632.0          PG\r

In [36]:
#drop the first row
tmdb = tmdb.drop(0)
tmdb.head()

     imdb_id      budget     revenue certification
1  tt0113026  10000000.0         0.0            \r
2  tt0113092         0.0         0.0            \r
3  tt0116391         0.0         0.0            \r
4  tt0118694    150000.0  14204632.0          PG\r
5  tt0118852         0.0         0.0           R\r

In [43]:
#drop duplicate entries
tmdb = tmdb.drop_duplicates()

## Creating a data type schema for to_sql

In [44]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = tmdb['imdb_id'].fillna('').map(len).max()
cert_len = tmdb['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "imdb_id": CHAR(key_len+1), 
    "budget": FLOAT(),
    "revenue": FLOAT(),
    'certification':CHAR(cert_len+1)}

## run df.to_sql with the dtype argument

In [45]:
# Save to sql with dtype and index=False
tmdb.to_sql('tmdb_data',engine, dtype=df_schema, if_exists='replace',index=False)

67331

## Run the query to add primary key

In [46]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

In [47]:
q='''SHOW TABLES'''
pd.read_sql(q,engine)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres
4        tmdb_data

In [48]:
q='''DESCRIBE tmdb_data'''
pd.read_sql(q,engine)

           Field      Type Null  Key Default Extra
0        imdb_id  char(11)   NO  PRI    None
1         budget     float  YES         None
2        revenue     float  YES         None
3  certification  char(33)  YES         None

In [49]:
q='''SELECT *
    FROM tmdb_data
    LIMIT 5'''
pd.read_sql(q,engine)

     imdb_id      budget     revenue certification
0          0         NaN         NaN            \r
1  tt0035423  48000000.0  76019000.0       PG-13\r
2  tt0062336         0.0         0.0            \r
3  tt0069049  12000000.0         0.0           R\r
4  tt0088751    350000.0         0.0            \r